<div class="card bg-base-100 shadow-xl animate-fadeIn">
  <figure>
    <img
      [src]="product().images | productImage"
      [alt]="product().title" />
  </figure>
  <div class="card-body">
    <a
      class="card-title font-monserratAlternate text-accent text-lg hover:underline"
      [routerLink]="['/product', product().slug]"
    >{{ product().title }}</a>
    <p>{{ product().description | slice: 0:70 }}...</p>
    <div class="card-actions justify-end">
      <a
        class="link link-accent"
        [routerLink]="['/product', product().slug]"
      >
        Ver Producto
      </a>
    </div>
  </div>
</div>
